# Python-specific ignores
__pycache__/
*.py[cod]
*$py.class

# Flask-specific ignores
instance/
*.log
*.pot
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/


# Environment variables
.env
.env.*

# Configuration files
config.yaml
config.yml

# IDE and Editor-specific ignores
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
.nox/
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
.pytest_cache/*

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/

